img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/tattoo.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

/*.profiles {*/
  /*position: relative;*/
  /*background: url('./img/graffiti.jpeg');*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*min-height: 100vh;*/
  /*margin-top: -24px;*/
  /*margin-bottom: -50px;*/
  /*width: 100%;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
/*}*/

/*.login {*/
  /*position: relative;*/
  /*background: url('./img/signup.jpeg');*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*min-height: 100vh;*/
  /*margin-top: -24px;*/
  /*margin-bottom: -50px;*/
  /*width: 100%;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
/*}*/

/*.register {*/
  /*position: relative;*/
  /*background: url('./img/register.jpeg');*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*min-height: 100vh;*/
  /*margin-top: -24px;*/
  /*margin-bottom: -50px;*/
  /*width: 100%;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
/*}*/

/*.dashboard {*/
  /*position: relative;*/
  /*background: url('./img/clean.jpeg');*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*min-height: 100vh;*/
  /*margin-top: -24px;*/
  /*margin-bottom: -50px;*/
  /*width: 100%;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
/*}*/

.register h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.register h5 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  font-family: 'Chela One', cursive;
}

.dashboard {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;

}

.feed {
  margin-bottom: 10%;
}

.dashboard h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.dashboard h5 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  font-family: 'Chela One', cursive;
}

.dashboard p {
  color: white;
  font-family: 'Chela One', cursive;
}

.dashboard span {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  font-family: 'Chela One', cursive;
}

.login h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.login h5 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  font-family: 'Chela One', cursive;
}

.profile {
  margin-bottom: 10%;
}


.create-profile {
  margin-bottom: 10%;
}

.profiles {
  opacity: 0.9;
}

.profiles {
  margin-bottom: 10%;
}

.info {
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.add-experience {
  margin-bottom: 10%;
}

.add-education {
  margin-bottom: 10%;
}

.profiles h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}
.profiles h5 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  font-family: 'Chela One', cursive;
}


.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.profileHeader {*/
  /*background: url("./img/neonneontat.jpeg");*/
  /*background-size: cover;*/
  /*background-position: center;*/
/*}*/

h6 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  font-family: 'Chela One', cursive;
  font-size: 36px;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Chela One', cursive;
}


title {
  font-family: 'Chela One', cursive;
}

h1 {
  font-family: 'Chela One', cursive;
}

p {
  font-family: 'Chela One', cursive;
}

ul {
  font-family: 'Chela One', cursive;
}

li {
  font-family: 'Chela One', cursive;
}

.navbar-brand {
  font-family: 'Chela One', cursive;
}